In [1]:
import pandas as pd
import src.density as den
import numpy as np

In [17]:
from importlib import reload

In [18]:
reload(intvl)

In [2]:
data = pd.read_excel('out/amplitude.xlsx')

In [3]:
data = data.drop('Unnamed: 0',axis=1).set_index(['date','duration'])

In [4]:
ab= data['6AU8_6BU8'].dropna().reset_index()

In [5]:
from src.condition import Sign, apply

In [6]:
signs = Sign(ab).medyan()

duration= {'pozitif': 4.0, 'negatif': nan}
amplitude= {'pozitif': 6.150000000004763e-05, 'negatif': -6.150000000004763e-05}

In [7]:
new_ab= apply(ab,signs)

PAIR:  6AU8_6BU8

In [8]:
new_ab

                    date duration  6AU8_6BU8
0    2018-09-06 00:00:17 00:00:13  -0.000218
1    2018-09-06 00:00:39 00:00:22   0.000050
2    2018-09-06 00:00:53 00:00:14  -0.000109
3    2018-09-06 00:01:01 00:00:08   0.000096
4    2018-09-06 00:01:22 00:00:21  -0.000159
...                  ...      ...        ...
8216 2018-09-07 23:56:50 00:00:16  -0.000062
8217 2018-09-07 23:57:25 00:00:35   0.000062
8218 2018-09-07 23:58:50 00:01:25  -0.000200
8219 2018-09-07 23:58:54 00:00:04   0.000111
8220 2018-09-07 23:59:03 00:00:09  -0.000111

[8221 rows x 3 columns]

In [9]:
duration=new_ab.duration

In [11]:
amplitude = new_ab['6AU8_6BU8']

In [19]:
import src.interval as intvl

In [47]:
amp=intvl.get_right(intvl.set_range(amplitude,0.02,'width'))

In [51]:
dur=intvl.get_right(intvl.set_timeRange(duration,5,'width'))

In [57]:
df=pd.concat([dur,amp],axis=1)

In [83]:
def get_frequency(df):
    """frekansı hesaplar ve sıralı şekilde döndürür.
    """
    return df.groupby(df.columns.tolist()).size()\
            .reset_index().rename(columns={0: 'frequency'}).sort_values('frequency',ascending =False)

In [85]:
def marginal_density(frequency):
        """Marjinal density hesaplar ve yeni bir sütun olarak ekler.
        """        
        df['density'] = df['frequency']/df['frequency'].sum()
        return df

In [88]:
x=marginal_density(fr)

In [86]:
fr=get_frequency(df)

In [78]:
df.groupby(df.columns.tolist()).size()\
            .reset_index().rename(columns={0: 'frequency'}).sort_values('frequency',ascending =False)

   duration 6AU8_6BU8  frequency
2  00:00:05  0.020137       3926
9  00:00:10  0.020137       1035
1  00:00:05 -0.000076        865
11 00:00:15  0.020137        466
8  00:00:10 -0.000076        400
..      ...       ...        ...
7  00:00:10 -0.222416          1
6  00:00:10 -0.444756          1
5  00:00:05  0.242478          1
4  00:00:05  0.202052          1
66 00:05:45  0.020137          1

[67 rows x 3 columns]

In [70]:
df

     duration 6AU8_6BU8
0    00:00:15 -0.000076
1    00:00:25  0.020137
2    00:00:15 -0.000076
3    00:00:10  0.020137
4    00:00:25 -0.000076
...       ...       ...
8216 00:00:20  0.020137
8217 00:00:35  0.020137
8218 00:01:25 -0.000076
8219 00:00:05  0.020137
8220 00:00:10 -0.000076

[8221 rows x 2 columns]