In [1]:
import pandas as pd
import numpy as np
import src.density as den
import src.graphic as graph

# Veri Okunuyor

In [2]:
cols = ['time_period','duration','amplitude']
veri = pd.read_csv('6AU8_6BU8.csv',usecols=cols, index_col = 0)

In [4]:
data = veri.loc["18:00:00"]

# Aralık Oluşturuluyor

In [6]:
range_creator = den.Interval('interval')

In [ ]:
range_data =

In [14]:
veri

             duration  amplitude
time_period
18:00:00          3.0    -11.250
18:00:00          9.0     10.000
18:00:00          2.0     -6.250
18:00:00          2.0      6.250
18:00:00         52.0     -6.250
...               ...        ...
16:00:00         18.0    -15.625
16:00:00          5.0      9.375
16:00:00         14.0    -11.250
16:00:00         10.0     11.250
16:00:00          5.0     -3.125

[10725 rows x 2 columns]