In [1]:
import pandas as pd
import src.condition as con
import numpy as np

In [4]:
amplitude = pd.read_excel('out/amplitude.xlsx')

amp=amplitude.drop('Unnamed: 0',axis=1)

#amp=amp.set_index(['date','duration'])

In [5]:
ilk_20=amp[0:20]

ilk_20.duration=pd.to_timedelta(ilk_20.duration.astype(str))

tarih = ilk_20[['date','duration']]

c:\users\ugur.eren\python codes\environments\inflation_env\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [6]:
numbers=[-2,3,-1,4,-7,7,-9,7,-11,5,-2,8,-1,2,-9,6,-7-9,4,-2,19]

x=pd.Series(numbers)

In [7]:
data = pd.concat([tarih,x],axis=1)

In [8]:
data.columns=['date','duration','amplitude']

In [10]:
data.duration=pd.to_timedelta(data.duration.astype(str))

# Girdi

In [11]:
data

                  date duration  amplitude
0  2018-09-06 00:00:17 00:00:13         -2
1  2018-09-06 00:00:39 00:00:22          3
2  2018-09-06 00:00:48 00:00:09         -1
3  2018-09-06 00:00:49 00:00:01          4
4  2018-09-06 00:00:50 00:00:01         -7
5  2018-09-06 00:00:51 00:00:01          7
6  2018-09-06 00:00:53 00:00:02         -9
7  2018-09-06 00:01:01 00:00:08          7
8  2018-09-06 00:01:04 00:00:03        -11
9  2018-09-06 00:01:05 00:00:01          5
10 2018-09-06 00:01:17 00:00:12         -2
11 2018-09-06 00:01:21 00:00:04          8
12 2018-09-06 00:01:22 00:00:01         -1
13 2018-09-06 00:01:24 00:00:02          2
14 2018-09-06 00:02:11 00:00:47         -9
15 2018-09-06 00:02:31 00:00:20          6
16 2018-09-06 00:02:35 00:00:04        -16
17 2018-09-06 00:04:01 00:01:26          4
18 2018-09-06 00:04:07 00:00:06         -2
19 2018-09-06 00:04:12 00:00:05         19

In [16]:
bools=get_bools(data.amplitude)

In [21]:
sign= sign_data(data.amplitude,bools=bools)

In [22]:
data['sign'] = sign

In [27]:
data.groupby('sign').sum()

      amplitude
sign
1            -3
2             7
3            -9
4             7
5            -8
6             9
7            -9
8             6
9           -14
10           19

In [28]:
data.groupby('sign').duration.sum()

sign
1    00:00:46
2    00:00:01
3    00:00:02
4    00:00:08
5    00:00:16
6    00:00:07
7    00:00:47
8    00:00:20
9    00:01:36
10   00:00:05
Name: duration, dtype: timedelta64[ns]

In [29]:
data

                  date duration  amplitude  sign
0  2018-09-06 00:00:17 00:00:13         -2     1
1  2018-09-06 00:00:39 00:00:22          3     1
2  2018-09-06 00:00:48 00:00:09         -1     1
3  2018-09-06 00:00:49 00:00:01          4     1
4  2018-09-06 00:00:50 00:00:01         -7     1
5  2018-09-06 00:00:51 00:00:01          7     2
6  2018-09-06 00:00:53 00:00:02         -9     3
7  2018-09-06 00:01:01 00:00:08          7     4
8  2018-09-06 00:01:04 00:00:03        -11     5
9  2018-09-06 00:01:05 00:00:01          5     5
10 2018-09-06 00:01:17 00:00:12         -2     5
11 2018-09-06 00:01:21 00:00:04          8     6
12 2018-09-06 00:01:22 00:00:01         -1     6
13 2018-09-06 00:01:24 00:00:02          2     6
14 2018-09-06 00:02:11 00:00:47         -9     7
15 2018-09-06 00:02:31 00:00:20          6     8
16 2018-09-06 00:02:35 00:00:04        -16     9
17 2018-09-06 00:04:01 00:01:26          4     9
18 2018-09-06 00:04:07 00:00:06         -2     9
19 2018-09-06 00:04:12 00:00:05         19    10

In [88]:
time_bool=time.dt.seconds<4

In [94]:
res=time_bool & data_bool

In [92]:
data_bool

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12     True
13     True
dtype: bool

In [91]:
data_bool = get_bools(x)

In [99]:
sign=sign_data(x,res)

In [101]:
result = pd.concat([time,x,sign],axis=1)

In [102]:
result

   duration   0  1
0  00:00:13  -2  1
1  00:00:22   3  2
2  00:00:09  -1  3
3  00:00:01   4  3
4  00:00:01  -7  3
5  00:00:01   7  4
6  00:00:02  -9  5
7  00:00:08   7  6
8  00:00:03 -11  7
9  00:00:01   5  7
10 00:00:12  -2  7
11 00:00:04   8  8
12 00:00:01  -1  8
13 00:00:02   2  8

In [18]:
get_bools(time.dt.seconds)

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7     False
8     False
9      True
10    False
11    False
12     True
13     True
Name: duration, dtype: bool

In [13]:
def get_bools(data : pd.Series) -> pd.Series:
    bools=data.apply(condition_amp)
    bools[0]=False
    return bools

In [12]:
def condition_amp(x,negative_measure=5,pozitive_measure=5):
    if x <0:
        return abs(x)<=negative_measure
    if x >0:
        return abs(x)<=pozitive_measure

In [17]:
def sign_data(data : pd.Series, bools : pd.Series) -> pd.Series:
    a=data.mask(bools).fillna(method='ffill')
    return np.sign(a).diff().ne(0).cumsum()

In [386]:
result= pd.concat([x,b],axis=1)