In [2]:
import pandas as pd
import src.condition as con
import numpy as np

In [8]:
amplitude = pd.read_excel('out/amplitude.xlsx')

In [9]:
amp=amplitude.drop('Unnamed: 0',axis=1)

In [10]:
amp=amp.set_index(['date','duration'])

In [37]:
seri =amp['6AU8_6BU8'].dropna()

In [46]:
dur=seri.reset_index().duration

0       00:00:13
1       00:00:22
2       00:00:09
3       00:00:01
4       00:00:01
          ...
8303    00:00:03
8304    00:00:04
8305    00:00:53
8306    00:00:04
8307    00:00:09
Name: duration, Length: 8308, dtype: object

In [67]:
j=pd.to_timedelta(dur.astype(str))

In [81]:
j

0      00:00:13
1      00:00:22
2      00:00:09
3      00:00:01
4      00:00:01
         ...
8303   00:00:03
8304   00:00:04
8305   00:00:53
8306   00:00:04
8307   00:00:09
Name: duration, Length: 8308, dtype: timedelta64[ns]

In [85]:
time=j[0:14]

In [88]:
time_bool=time.dt.seconds<4

In [94]:
res=time_bool & data_bool

In [92]:
data_bool

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12     True
13     True
dtype: bool

In [91]:
data_bool = get_bools(x)

In [99]:
sign=sign_data(x,res)

In [101]:
result = pd.concat([time,x,sign],axis=1)

In [102]:
result

   duration   0  1
0  00:00:13  -2  1
1  00:00:22   3  2
2  00:00:09  -1  3
3  00:00:01   4  3
4  00:00:01  -7  3
5  00:00:01   7  4
6  00:00:02  -9  5
7  00:00:08   7  6
8  00:00:03 -11  7
9  00:00:01   5  7
10 00:00:12  -2  7
11 00:00:04   8  8
12 00:00:01  -1  8
13 00:00:02   2  8

In [78]:
numbers=[-2,3,-1,4,-7,7,-9,7,-11,5,-2,8,-1,2]

In [79]:
x=pd.Series(numbers)

In [4]:
def get_bools(data : pd.Series) -> pd.Series:
    bools=data.apply(condition_amp)
    bools[0]=False
    return bools

In [96]:
def condition_amp(x):
    if x <0:
        return abs(x)<=3
    if x >0:
        return abs(x)<=5

In [97]:
def sign_data(data : pd.Series, bools : pd.Series) -> pd.Series:
    a=data.mask(bools).fillna(method='ffill')
    return np.sign(a).diff().ne(0).cumsum()

In [386]:
result= pd.concat([x,b],axis=1)

In [51]:
def pozitive_median(data : pd.Series) -> float:
    """Pozitif medyanı döndürür.
    """
    return data[data>0].median()

In [52]:
def negative_median(data : pd.Series) -> float:
    """Negatif medyanı döndürür
    """
    return data[data<0].median()

In [55]:
def negative_percentile(data : pd.Series, percent_value : float = None) -> float:
    return data[data<0].quantile(value)

In [56]:
def pozitive_percentile(data : pd.Series, percent_value : float = None) -> float:
    return data[data>0].quantile(value)