In [6]:
from importlib import reload
reload(io)
reload(info)
reload(base)
reload(aux)

In [1]:
import pandas as pd
import numpy as np
import src.in_out as io
import src.info as info
import src.auxiliary_functions as aux
import src.condition as con
import src.base as base
from itertools import combinations
from src.spread import get_spread

## Veri Hazırlama

In [2]:
#Verilere ait path'ler alınıyor
path_list=io.get_path('data')

In [3]:
#Okunacak sütun adları
cols= ["Time","BID price","ASK price"]
#Tüm veriler okunuyor
master_data=io.read_allData(path_list, cols=cols)
master_data.columns=['time','bid_price','ask_price','name','date']

In [4]:
#date sütunu Timestamp'e dönüştürülüyor ve tarih ve saat bilgisi birleştiriliyor
master_data['date']=pd.to_datetime(master_data['date'], errors='coerce')
master_data['date'] += pd.to_timedelta(master_data.pop('time').astype(str))

In [5]:
#zaman dilimi ekleniyor
master_data['time_period']=master_data.date.dt.hour

## Mid Price

In [6]:
# mid price hesaplanıyor
master_data['mid_price']=base.average_of_series(master_data.bid_price,master_data.ask_price)

In [7]:
# spread hesaplama için master_data, uygun bir forma dönüştürülüyor
df_mid_price=master_data.pivot(index='date', columns='name', values='mid_price')

## Spread
<img src="img/spread_flowchart.png">

In [8]:
values={'a_PNLTICK':1,
'a_TICKSIZE':1,
'b_PNLTICK':1,
'b_TICKSIZE':1}

In [9]:
# pair'lar alınıyor
pairs=combinations(df_mid_price.columns, 2)

In [10]:
#spread hesaplanıyor
spread_list=[
    base.groupby_date_time(df_mid_price.loc[:,pair]).apply(lambda x: get_spread(x,values))\
        for pair in pairs]
df_spread=pd.concat(spread_list,axis=1).droplevel([0,1])

In [143]:
#change alınıyor
df_change=base.groupby_date_time(df_spread).apply(aux.find_change)
df_change=df_change.droplevel([0,1])

In [167]:
df_change

                     6AU8_6BU8  6AU8_6CU8     6BU8_6CU8
date
2018-09-06 00:00:04  -0.000109        NaN  1.090000e-04
2018-09-06 00:00:05   0.000000        NaN  0.000000e+00
2018-09-06 00:00:06   0.000000        NaN  0.000000e+00
2018-09-06 00:00:07   0.000000        NaN  0.000000e+00
2018-09-06 00:00:08   0.000000        NaN  0.000000e+00
...                        ...        ...           ...
2018-09-07 23:58:59  -0.000012  -0.000012  1.110223e-16
2018-09-07 23:59:00   0.000000        NaN  0.000000e+00
2018-09-07 23:59:01   0.000000        NaN  0.000000e+00
2018-09-07 23:59:02   0.000000        NaN  0.000000e+00
2018-09-07 23:59:03  -0.000050        NaN  5.000000e-05

[78566 rows x 3 columns]